<p style="color: green"><%= notice %></p>

<h1>Friends</h1>

<div id="friendships">
  <% @friendships each do |friendships| %>
    <%= render friendships %>
    <p>
      <%= link_to "Show this friendship", friends. %>
    </p>
  <% end %>
</div>

<%= link_to "New friendship", new_friendship_path %>
